[submodule "themes/purepelican"]
	path = themes/purepelican
	url = https://github.com/surt91/purepelican.git
[submodule "plugins"]
	path = plugins
	url = https://github.com/surt91/pelican-plugins.git
