{% extends "!layout.html" %}

{% block htmltitle  %}
    <title>{{ docstitle|e }}</title>
{% endblock %}

{% block opengraph %}
    <meta property="og:title" content="Hendrik Schawe" />
    <meta property="og:type" content="profile" />
    <meta property="profile:first_name" content="Hendrik">
    <meta property="profile:last_name" content="Schawe">
    <meta property="profile:gender" content="male">
    <meta property="profile:username" content="surt91">
    <meta property="og:url" content="https://hendrik.schawe.me" />
    <meta property="og:image" content="https://hendrik.schawe.me/_images/portrait.jpg" />

    <meta property="twitter:description" content="Hendrik Schawe" />
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:site" content="@surt91" />

    {% if language == "de" %}
        <meta name="description" content="Ich addiere Zufallszahlen!" />
        <meta property="og:description" content="Ich addiere Zufallszahlen!" />
        <meta property="twitter:text:description" content="Ich addiere Zufallszahlen!" />
        <meta property="og:locale" content="de_DE">
    {% else %}
        <meta name="description" content="I add up random numbers!" />
        <meta property="og:description" content="I add up random numbers!" />
        <meta property="twitter:text:description" content="I add up random numbers!" />
        <meta property="og:locale" content="en_US">
    {% endif %}
{% endblock %}

{% block schemaorg %}
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Person",
        "givenName": "Hendrik",
        "familyName": "Schawe",
        "image": "https://hendrik.schawe.me/_images/portrait.jpg",
        "url": "https://hendrik.schawe.me",
        "alumniOf": {
            "@type": "EducationalOrganization",
            "name": "Carl-von-Ossietzky Universität Oldenburg"
        }
    }
    </script>
{% endblock %}

{% block extrahead %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ super() }}

    {{ self.opengraph() }}
    {{ self.schemaorg() }}

    <link href="_static/css/style.css" rel="stylesheet">
    <link href="_static/css/font-awesome.min.css" rel="stylesheet">
    {% if pathto(pagename) != "#" %}
        <link rel="alternate" hreflang="de" href="https://hendrik.schawe.me/de/{{ pathto(pagename) }}" />
        <link rel="alternate" hreflang="en" href="https://hendrik.schawe.me/en/{{ pathto(pagename) }}" />
    {% else %}
        <link rel="alternate" hreflang="de" href="https://hendrik.schawe.me/de/" />
        <link rel="alternate" hreflang="en" href="https://hendrik.schawe.me/en/" />
        <link rel="alternate" hreflang="x-default" href="https://hendrik.schawe.me" />
    {% endif %}
    <style>
        @media screen and (max-width: 600px) {
            img.align-right,.figure.align-right,object.align-right {
                float: none !important;
                margin-left: 0em;
            }
        }
    </style>

    <script type="text/javascript" src="_static/js/lang.js"></script>
{% endblock %}

{# My own footer #}
{%- block footer %}
    <div class="footer">
        <a href="https://creativecommons.org/licenses/by-sa/4.0/" title="CC BY-SA" class="sidebar-social-links" target="_blank">
        <i class="fa fa-creative-commons sidebar-social-links"></i>BY-SA</a>
        {{ copyright }}
        |
        <a href="https://github.com/surt91/portfolio">Page source</a>
    </div>

    {# Google Analytics #}
    {% if google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
    {% endif %}
{%- endblock %}
