{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ super() }}
    
    <link href="_static/css/style.css" rel="stylesheet">
    <link href="_static/css/font-awesome.min.css" rel="stylesheet">
    {% if pathto(pagename) != "#" %}
        <link rel="alternate" hreflang="de" href="https://hendrik.schawe.me/de/{{ pathto(pagename) }}" />
        <link rel="alternate" hreflang="en" href="https://hendrik.schawe.me/en/{{ pathto(pagename) }}" />
    {% else %}
        <link rel="alternate" hreflang="de" href="https://hendrik.schawe.me/de/" />
        <link rel="alternate" hreflang="en" href="https://hendrik.schawe.me/en/" />
        <link rel="alternate" hreflang="x-default" href="https://hendrik.schawe.me" />
    {% endif %}
    <style>
        @media screen and (max-width: 600px) {
            img.align-right,.figure.align-right,object.align-right {
                float: none !important;
                margin-left: 0em;
            }
        }
    </style>
{% endblock %}

{# My own footer #}
{%- block footer %}
    <div class="footer">
        <a href="https://creativecommons.org/licenses/by-sa/4.0/" title="CC BY-SA" class="sidebar-social-links" target="_blank">
        <i class="fa fa-creative-commons sidebar-social-links"></i>BY-SA</a>
       {{ copyright }}
    </div>
{%- endblock %}
