{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ super() }}
    {% if pathto(pagename) != "#" %}
        <link rel="alternate" hreflang="de" href="https://hendrik.schawe.me/de/{{ pathto(pagename) }}" />
        <link rel="alternate" hreflang="en" href="https://hendrik.schawe.me/en/{{ pathto(pagename) }}" />
    {% else %}
        <link rel="alternate" hreflang="de" href="https://hendrik.schawe.me/de/" />
        <link rel="alternate" hreflang="en" href="https://hendrik.schawe.me/en/" />
        <link rel="alternate" hreflang="x-default" href="https://hendrik.schawe.me" />
    {% endif %}
    <style>
        @media screen and (max-width: 600px) {
            img.align-right,.figure.align-right,object.align-right {
                float: none !important;
                margin-left: 0em;
            }
        }
    </style>
{% endblock %}

