:root {
  --color-post: #333;
  --color-link: #3d92c9;
  --color-title: #333;
  --color-sectiontitle: #444;
  --color-subtitle: #6F6F6F;
  --color-sidebar: #fff;
  --color-brand: #b0cadb;
  --color-code: #383a42;
  --color-tag: #333;
  --color-border: #3d4f5d;
  --color-invisible: #51697b;
  --color-bg-sidebar: #3d4f5d;
  --color-bg-main: #fff;
  --color-bg-code: #fafafa;
  --color-bg-tag: #ddd; }

@media (prefers-color-scheme: dark) {
  :root {
    --color-post: #c0c0c0;
    --color-link: #3d92c9;
    --color-title: #c0c0c0;
    --color-sectiontitle: #c0c0c0;
    --color-subtitle: #c0c0c0;
    --color-sidebar: #c0c0c0;
    --color-brand: #c0c0c0;
    --color-code: #abb2bf;
    --color-tag: #c0c0c0;
    --color-border: #323232;
    --color-invisible: #222222;
    --color-bg-sidebar: #323232;
    --color-bg-main: #121212;
    --color-bg-code: #282c34;
    --color-bg-tag: #3e3e3e; } }

i.sidebar-social-links {
  border-radius: 20%;
  border: solid transparent 1px;
  color: var(--color-brand);
  font-size: 1.3em;
  margin: 0;
  padding: 1px;
  text-align: center;
  text-decoration: none;
  width: 30px; }

a.sidebar-social-links:hover {
  text-decoration: none; }

i.sidebar-social-links:hover {
  background-color: var(--color-brand);
  color: var(--color-bg-sidebar); }

i.fa-twitter:hover, i.fa-twitter-square:hover {
  background-color: #00ACED; }

i.fa-facebook:hover, i.fa-facebook-square:hover {
  background-color: #3B5998; }

i.fa-adn:hover {
  background-color: #49484D; }

i.fa-envelope:hover {
  background-color: #5E9EDA; }

i.fa-github:hover, i.fa-github-square:hover, i.fa-github-alt:hover {
  background-color: #000; }

i.fa-rss:hover, i.fa-rss-square:hover {
  background-color: #FF6600; }

i.fa-bitbucket:hover, i.fa-bitbucket-square:hover {
  background-color: #205081; }

i.fa-stack-exchange:hover {
  background-color: #3A7BC8; }

i.ai-orcid:hover {
  background-color: #a6ce39; }

i.ai-google-scholar:hover {
  background-color: #4285f4; }

.tag, .doi, .language, .category {
  font: 1em "Fira Sans", sans-serif;
  list-style: none;
  display: inline-block;
  background: var(--color-bg-tag);
  border-radius: 3px;
  color: var(--color-tag);
  padding: 0.4em 0.2em 0.2em 0.2em;
  margin: 0.2em; }

.tag a, .doi a, .language a, .category a {
  color: var(--color-tag);
  text-decoration: none;
  margin: 0.2em 0.2em; }

.tag a:hover, .doi a:hover, .language a:hover, .category a:hover {
  text-decoration: none; }

.category {
  background: #555; }

.category a {
  color: var(--color-bg-main); }

.category-code {
  background: #5aba59; }

.category-snip {
  background: #8156a7; }

.category-tech {
  background: #4d85d1; }

.category-meta {
  background: #e68a00; }

.category-phys {
  background: #e61e0f; }

.category-misc {
  background: #777; }

.language {
  background: #555; }

.language a {
  color: var(--color-bg-main); }

.doi {
  background: #fcb425;
  margin-left: 0.5em; }

.doi a {
  color: var(--color-bg-main); }

img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

.icon > img,
.icon {
  float: right;
  height: 200px;
  border: 0px; }

.placeholder {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden; }

.placeholder img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 1s linear; }

.img-small {
  filter: blur(50px); }

.img-large {
  opacity: 0;
  position: absolute; }

.img-large.loaded {
  opacity: 1; }

img.align-right {
  float: right;
  padding-left: 1em; }
  @media screen and (max-width: 35.5em) {
    img.align-right {
      float: none;
      max-width: 100%;
      padding-left: 0;
      margin-right: 0; } }
@font-face {
  font-family: 'Fira Code';
  src: url("/theme/woff2/firacode-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Fira Code';
  src: url("/theme/woff2/firacode-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Fira Sans';
  src: url("/theme/woff2/FiraSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Fira Sans';
  src: url("/theme/woff2/FiraSans-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Fira Sans';
  src: url("/theme/woff2/FiraSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Fira Sans';
  src: url("/theme/woff2/FiraSans-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Merriweather';
  src: url("/theme/woff2/Merriweather-12ptRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Merriweather';
  src: url("/theme/woff2/Merriweather-12ptItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Merriweather';
  src: url("/theme/woff2/Merriweather-12ptBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Merriweather';
  src: url("/theme/woff2/Merriweather-12ptBoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap; }

.highlight, pre.highlight {
  background: #fafafa;
  color: #383a42; }

.highlight pre {
  background: #fafafa; }

.highlight .ge {
  font-style: italic; }

.highlight .gs {
  font-weight: 700; }

.highlight .ow {
  font-weight: 700; }

.highlight .n, .highlight .nf, .highlight .nn, .highlight .o, .highlight .p {
  color: #383a42; }

.highlight .c, .highlight .c1, .highlight .cm, .highlight .cp, .highlight .cs {
  color: #a0a1a7;
  font-style: italic; }

.highlight .sr, .highlight .ss {
  color: #0184bc; }

.highlight .k, .highlight .kc, .highlight .kd, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kt {
  color: #a626a4; }

.highlight .l, .highlight .ld, .highlight .s, .highlight .s1, .highlight .s2, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx {
  color: #50a14f; }

.highlight .nt, .highlight .nx, .highlight .vi {
  color: #e45649; }

.highlight .il, .highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo, .highlight .na {
  color: #986801; }

.highlight .bp, .highlight .nb, .highlight .nc, .highlight .nd, .highlight .ne, .highlight .ni, .highlight .nl, .highlight .no, .highlight .nv, .highlight .py, .highlight .vc, .highlight .vg {
  color: #c18401; }

.highlight .err {
  color: #fff;
  background-color: #ff1414; }

.highlight .gd {
  color: #ff1414; }

.highlight .gi {
  color: #2db448; }

.highlight .w {
  color: #f8f8f2; }

.highlight .cpf {
  color: navy; }

.highlight .gu {
  color: #75715e; }

.highlight .lineno {
  color: #9d9d9f;
  user-select: none; }

.highlight .hll {
  color: #383a42;
  background-color: #f2f2f2; }

.highlight .language-json .w + .s2 {
  color: #e45649; }

.highlight .language-json .kc {
  color: #0184bc; }

@media (prefers-color-scheme: dark) {
  .highlight, pre.highlight {
    background: #282c34;
    color: #abb2bf; }
  .highlight pre {
    background: #282c34; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gs {
    font-weight: 700; }
  .highlight .ow {
    font-weight: 700; }
  .highlight .n, .highlight .nf, .highlight .nn, .highlight .o, .highlight .p {
    color: #abb2bf; }
  .highlight .c, .highlight .c1, .highlight .cm, .highlight .cp, .highlight .cs {
    color: #5c6370;
    font-style: italic; }
  .highlight .sr, .highlight .ss {
    color: #56b6c2; }
  .highlight .k, .highlight .kc, .highlight .kd, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kt {
    color: #c678dd; }
  .highlight .l, .highlight .ld, .highlight .s, .highlight .s1, .highlight .s2, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx {
    color: #98c379; }
  .highlight .nt, .highlight .nx, .highlight .vi {
    color: #e06c75; }
  .highlight .il, .highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo, .highlight .na {
    color: #d19a66; }
  .highlight .bp, .highlight .nb, .highlight .nc, .highlight .nd, .highlight .ne, .highlight .ni, .highlight .nl, .highlight .no, .highlight .nv, .highlight .py, .highlight .vc, .highlight .vg {
    color: #e5c07b; }
  .highlight .err {
    color: #fff;
    background-color: #e05252; }
  .highlight .gd {
    color: #e05252; }
  .highlight .gi {
    color: #43d08a; }
  .highlight .w {
    color: #f8f8f2; }
  .highlight .cpf {
    color: navy; }
  .highlight .gu {
    color: #75715e; }
  .highlight .lineno {
    color: #636d83;
    user-select: none; }
  .highlight .hll {
    color: #abb2bf;
    background-color: #2c313a; }
  .highlight .language-json .w + .s2 {
    color: #e06c75; }
  .highlight .language-json .kc {
    color: #56b6c2; } }

ul.list-posts {
  padding-bottom: 0.4em;
  padding-top: 0.2em;
  list-style: none outside none; }
  @media (max-width: 64em) {
    ul.list-posts {
      padding-left: 1em; } }
ul.list-posts li time {
  display: inline-block;
  font: 1em "Fira Code", monospace;
  width: 7em; }

.list-posts a {
  text-decoration: none; }

ul.list-posts li {
  padding-bottom: 0.2em;
  color: var(--color-subtitle);
  font: 1em "Fira Sans", sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

ul.list {
  list-style: none outside none;
  margin: 0 0 0 5px; }
  @media (max-width: 64em) {
    ul.list {
      padding-left: 0em; } }
.post {
  padding-bottom: 3em; }

.post-title {
  font: bold 2.2em "Fira Sans", sans-serif;
  color: var(--color-title);
  margin-bottom: 0.2em;
  margin-top: 0; }

.post-title a:hover {
  border-bottom: none;
  text-decoration: none;
  text-shadow: none; }

.post-meta {
  color: var(--color-subtitle);
  font: 1em "Fira Sans", sans-serif;
  margin: 0;
  border-bottom: 1px solid #888;
  padding-bottom: 5px; }

.post-time {
  display: inline-block;
  margin-right: 0.5em; }

.post-content {
  font: 1.2em "Merriweather", serif;
  color: var(--color-post);
  line-height: 1.6em; }

.post-content h2,
.post-content h3,
.post-content h4 {
  font: bold 1.31em "Fira Sans", sans-serif;
  color: var(--color-sectiontitle); }

.post-content blockquote:before {
  color: var(--color-subtitle);
  content: '\f10d';
  font: 18px FontAwesome;
  font-style: normal;
  font-weight: normal;
  margin-left: -2em;
  text-decoration: inherit;
  position: absolute; }

.post-content blockquote {
  font: italic 1.1em "Merriweather", serif;
  font-variant: normal;
  line-height: 1.7em;
  text-transform: none;
  font-weight: 300;
  position: relative; }

h3.post-header {
  color: var(--color-subtitle);
  font: 1em "Fira Sans", sans-serif;
  margin: 0; }
  @media (min-width: 64em) {
    h3.post-header {
      padding-top: 0.8em;
      padding-left: 4px;
      position: absolute;
      transform: rotate(90deg);
      transform-origin: left top 0;
      float: left; } }
.publications,
.timeline {
  margin-bottom: 1.2em; }

ol.publication {
  list-style: decimal-leading-zero; }

ol.publication > li {
  margin-bottom: 1.8em; }

ol.publication ::marker {
  font: bold 1.31em "Fira Sans", sans-serif;
  color: var(--color-title); }

.pub-title {
  font: bold 1.31em "Fira Sans", sans-serif;
  color: var(--color-title);
  margin-bottom: 0.2em;
  margin-top: 0; }

.pub-authors,
.pub-journalref {
  font: 1.2em "Merriweather", serif;
  color: var(--color-post);
  margin-bottom: 0.2em;
  margin-top: 0; }

.pub-volume {
  font-weight: bold; }

.pub-related,
.pub-supplementary,
.pub-supp-title,
.pub-links,
.pub-bonus,
.timeline-link {
  font: 1em "Fira Sans", sans-serif;
  font-size: 1.1em;
  color: var(--color-subtitle);
  margin-bottom: 0.2em;
  margin-top: 0; }

.timeline-presentation-item > .timeline-link {
  font-size: 1em; }

.pub-bonus {
  display: inline-block;
  font-size: 0.9em;
  background: var(--color-bg-tag);
  border-radius: 3px;
  color: var(--color-tag);
  padding: 0.2em 0.1em 0.1em 0.1em;
  margin: 0.0em; }

.timeline-title {
  font: 1.2em "Merriweather", serif;
  color: var(--color-title);
  margin-bottom: 0.2em;
  margin-top: 0; }

.timeline-presentation-item {
  font: 1.2em "Merriweather", serif;
  font-size: 1em;
  color: var(--color-post);
  padding-left: 1em;
  margin-bottom: 0.2em;
  margin-top: 0; }

.pub-doi,
.pub-arxiv,
.pub-download,
.timeline-doi,
.timeline-download {
  color: var(--color-subtitle);
  border-bottom: 1px dotted var(--color-subtitle); }

a.pub-doi:hover,
a.pub-doi:focus,
a.pub-arxiv:hover,
a.pub-arxiv:focus,
a.pub-download:hover,
a.pub-download:focus,
a.timeline-doi:hover,
a.timeline-doi:focus,
a.timeline-download:hover,
a.timeline-download:focus {
  text-decoration-line: none;
  border-bottom: 1px solid var(--color-subtitle); }

.timeline-item {
  padding: 3em 2em 2em;
  position: relative;
  color: var(--color-sectiontitle);
  border-left: 2px solid var(--color-border); }
  .timeline-item::before {
    content: attr(data-date);
    position: absolute;
    left: 2em;
    font-weight: bold;
    top: 1em;
    display: block;
    font: 1em "Fira Sans", sans-serif;
    font-weight: bold;
    font-size: 0.9em; }
  .timeline-item::after {
    width: 10px;
    height: 10px;
    display: block;
    top: 1em;
    position: absolute;
    left: -8px;
    border-radius: 10px;
    content: '';
    border: 2px solid var(--color-border);
    background: var(--color-bg-main); }
  .timeline-item:last-child {
    border-image: linear-gradient(to bottom, var(--color-border) 60%, rgba(var(--color-border), 0)) 1 100%; }

ul.timeline-vis-list li {
  display: inline;
  color: var(--color-subtitle);
  padding-right: 1.3em;
  white-space: nowrap; }

#timeline-settings {
  cursor: pointer; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: normal; }

#layout {
  padding: 0; }

html {
  overflow-y: scroll;
  height: auto;
  padding-bottom: 95vh; }

body {
  background: var(--color-bg-main); }

h3, h2 {
  color: var(--color-title); }

h3 {
  font-weight: 100; }

#tipue_search_input {
  display: inline;
  width: 100%;
  max-width: 275px; }

.search-query {
  margin-bottom: 1em;
  color: var(--color-post); }

.center {
  margin: auto;
  display: block; }

video {
  width: 100%;
  max-width: 1000px;
  max-height: 600px;
  height: auto;
  margin: auto;
  display: block; }

video.not-found-video {
  max-width: 912px;
  width: 100%; }

@media (prefers-color-scheme: dark) {
  video.not-found-video {
    filter: invert(0.925); } }

.fixed-size-400 {
  max-width: 400px;
  width: 100%; }

.fixed-size-800 {
  max-width: 800px;
  width: 100%; }

.header {
  text-align: center;
  top: auto;
  margin: 2em auto 1em auto; }
  @media screen and (min-width: 64em) {
    .header {
      margin: 80% 2em 0;
      text-align: right; } }
.sidebar {
  background: var(--color-bg-sidebar);
  color: var(--color-sidebar); }
  @media screen and (min-width: 64em) {
    .sidebar {
      position: fixed;
      top: 0;
      bottom: 0; } }
  @media print {
    .sidebar {
      display: none; } }
a {
  text-decoration: none;
  color: var(--color-link); }

a:hover,
a:focus {
  text-decoration: underline; }

a.link-nohighlight {
  text-decoration: none;
  color: inherit; }

.title a {
  text-decoration: none; }

.brand-title,
.brand-tagline {
  margin: 0; }

.brand-title a {
  font: 1.4em "Fira Code", monospace;
  color: var(--color-brand);
  text-decoration: none; }

.brand-tagline {
  font-weight: 300;
  color: var(--color-brand); }

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.nav-item {
  display: inline-block;
  *display: inline;
  margin-bottom: 0.3em; }

.nav-item a {
  background: transparent;
  border: 2px solid var(--color-brand);
  color: var(--color-brand);
  font: 1em "Fira Sans", sans-serif;
  font-weight: 700; }

.nav-item a:hover,
.nav-item a:focus {
  border: 2px solid var(--color-link);
  text-decoration: none; }

.container {
  margin-top: 0.7em; }

.content-subhead {
  text-transform: uppercase;
  color: var(--color-subtitle);
  border-bottom: 1px solid #888;
  padding: 0.4em 0;
  font-size: 80%;
  font-weight: 500;
  letter-spacing: 0.1em; }

.content {
  padding: 2em 1em 0; }
  @media (min-width: 64em) {
    .content {
      padding: 2em 3em 0;
      margin-left: 25%;
      max-width: 1200px; } }
.title {
  font: bold 2.2em "Fira Sans", sans-serif;
  color: var(--color-title); }

.MathJax_Display {
  overflow-x: auto;
  overflow-y: hidden; }

#last-update {
  color: var(--color-invisible);
  font-size: 0.7em;
  position: fixed;
  bottom: 0;
  left: 0; }
  @media (max-width: 64em) {
    #last-update {
      display: none; } }
p code {
  font: 1em "Fira Code", monospace;
  background: var(--color-bg-code);
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px; }

pre {
  font: 1em "Fira Code", monospace;
  padding: 9.5px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  overflow: auto; }

.post-navigation {
  color: var(--color-subtitle);
  font: 1em "Fira Sans", sans-serif;
  border-top: 1px solid #888; }

.separatordot {
  padding-left: 1em;
  padding-right: 1em; }

.pagination {
  width: 90%;
  margin: 1em auto;
  text-align: center; }

.tags-in-article {
  margin-left: 0.5em; }

.languages-in-article {
  margin-right: 0.5em; }

span.count {
  font: 0.8em;
  vertical-align: super; }

.sep-line {
  border-bottom: 1px solid #888; }

.search-tag {
  padding-bottom: 0.5em;
  margin-bottom: 1.5em; }

.search-tag .tag, .search-tag .category, .search-tag .language, .search-tag .doi {
  line-height: 1.5em; }

.link-symbol {
  font-size: 0.7em;
  vertical-align: super; }

.nowrap {
  white-space: nowrap; }

.cthulhu {
  position: fixed;
  width: 526px;
  height: 442px;
  top: 50%;
  left: 50%;
  margin-top: -221px;
  margin-left: -263px; }

.cthulhu-credits {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #eee;
  box-shadow: 7px 7px 5px grey;
  border-radius: 5px;
  padding: 3px 10px;
  font-size: 80%; }
